
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@font-face {
    font-family: Caprasimo;
    src: url(../components/fonts/Caprasimo-Regular.ttf);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: #202020
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
 .title {
    font-family: Caprasimo, sans-serif !important;
 }