
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@font-face {
    font-family: Caprasimo;
    src: url(../components/fonts/Caprasimo-Regular.ttf);
}
@font-face {
  font-family: Belanosima-Regular;
  src: url(../components/fonts/Belanosima/Belanosima-Regular.ttf);
}
@font-face {
  font-family: Belanosima-SemiBold;
  src: url(../components/fonts/Belanosima/Belanosima-SemiBold.ttf);
}
@font-face {
  font-family: Belanosima-Bold;
  src: url(../components/fonts/Belanosima/Belanosima-Bold.ttf);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    display: grid;
    justify-content: space-between;
    color: rgb(var(--foreground-rgb));
    background: #fffefe
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
 .title {
    font-family: Belanosima-Bold, sans-serif !important;
 }